.cproject
.project
.settings/**

googletest/**
googletest

obj/**
obj

out
out/**

install/**
install/

test.site/bbcp-test-disk.dsk
storage.file

Makefile
autom4te.cache/**
autom4te.cache
config.log
config.status

AUTHORS
COPYING
ChangeLog
INSTALL
Makefile.am
NEWS
README
exfat.bundle/libexfat/.deps/
exfat.bundle/libexfat/*.o

aclocal.m4
configure
exfat.bundle/libexfat/Makefile.in
exfat.bundle/libexfat/aclocal.m4
exfat.bundle/libexfat/configure

exfat.bundle/libexfat/config.h
exfat.bundle/libexfat/libexfat.a
