.cproject
.project
.settings/**

googletest/**
googletest

obj/**
obj

out
out/**

install/**
install/

test.site/bbcp-test-disk.dsk
storage.file


Makefile
autom4te.cache/**
autom4te.cache
config.log
config.status
configure

